@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --primary-color: #0A192F; 
  --secondary-color: #F97316; 
  --tertiary-color: #54D6BB; 
  --white: #ffffff;
  --black: #000000;
  --gray: #cccccc;
}

body {
  background-color: var(--primary-color);
  color: var(--white);
  transition: all 0.3s ease-in-out;
  overflow-x: hidden;
}

i {
  color: var(--secondary-color);
}

h1 {
  font-size: 60px;
  color: var(--tertiary-color);
}

p {
  color: var(--white);
}

.primary-button {
  background-color: var(--secondary-color);
  color: var(--white);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.section-title {
  font-size: 50px;
}

.cursor {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid var(--white);
  position: fixed;
  z-index: 9999;
  pointer-events: none;
  transition: all 0.1s ease-in-out;
}

.cursor-pointer {
  transform: scale(3);
  border: 2px solid var(--tertiary-color);
}

.header {
  padding: 20px;
  background-color: var(--primary-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #3d4a61;
}

.ri-menu-line {
  display: none !important;
}

@media screen and (max-width: 768px) {
  .ri-menu-line {
    display: flex !important;
  }
}